.menu>li>a {
    display: block;
    padding: .1rem 2rem; 
    line-height: 1;
}

.top-bar, .top-bar ul {
    background-color: rgb(74, 63, 63);
}

.callout.secondary {
    background-color: rgb(74, 63, 63);
    color:#eee;
}

#posts {
	text-align: center;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.h2 {
	font-family: "Times New Roman", Times, serif;
}